* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

.main {
  display: flex;
  max-width: 1440px;
  max-height: 720px;
  height: 100vh;
  margin: 0 auto;
  padding: 0.5rem;
}

button,
input {
  font-size: 1.5rem;
}

button:hover {
  background: #f3f3f3;
}

.calculator,
.history {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* left side */
.calculator {
  flex-grow: 2;
}

.display,
.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.display {
  justify-content: center;
  flex-grow: 1;
}

.display > input {
  text-align: right;
  border: 0;
  background: transparent;
}

.display > input#bottom {
  font-size: 2.5rem;
}

.buttons {
  flex-grow: 3;
}

.row {
  display: flex;
  flex-grow: 1;
  gap: 0.2rem;
}

.row > button {
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid gray;
}

.number {
  background: #fff;
}

.operator {
  background: #e9e9e9;
}

.function {
  background: #00aaaa;
}

.function:hover {
  background: #009faa;
}


/* right side */
.history {
  flex-grow: 1;
  flex-basis: 256px;
  overflow-y: scroll;
}

.top,
.bottom {
  text-align: end;
  padding-right: 0.5rem;
}

.bottom {
  position: sticky;
  bottom: 0;
  background: #f3f3f3;
  padding: 1rem 0.5rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 1rem 0;
}

p {
  margin: 0;
  padding: 0;
}

.input {
  font-size: 1.2rem;
}

.output {
  font-size: 2rem;
}

.trash {
  font-size: 1rem;
  padding: 0.2rem 1rem;
  background: #fff;
  border: 1px solid gray;
}
